.view{
    background: rgb(167, 0, 0);
    width: 70%;
    height: 100vh;
    overflow: auto;
}

.authScreen {
    background: rgb(167, 0, 0);
    background-size: cover;

    min-width: 100%;
    min-height: 100vh;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.authScreenForm {
    width: 90%;
    height: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.authScreenBrand {
    padding: 15px;
    margin-bottom: 15vh;
    text-align: center;
    color: #FFF;
}

.authScreenForm input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, .2);
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
}

.authScreenFormSubmit {
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
    background: rgb(255, 30, 30);
    font-size: 1.3em;
    margin: 0 auto 0 auto;
    cursor: pointer;
    margin-top: 10%;
}

.authScreenForm #submit:active {
    outline: none;
    background: rgb(145, 0, 0);
}