.list {
    background: #b81aed;
    width: 30%;
    height: 100vh;
    overflow: auto;
    scrollbar-width: thin;
}

.list input {
    background: #671582;
    width: 100%;
    font-size: 2em;
    color: #FFF;
    border: none;
    outline: none;
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;
    box-sizing: border-box;
}

.list input::placeholder {
    color: #FFF;
}

.item {
    background: #490f5c;
    padding: 50px;
    user-select: none;
    cursor: pointer;
    color: white;

    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    transition: .3s;
}

.item:hover {
    background: #591270;
}